#keyboard {
	background-color: #ddd;
	padding: .5rem 4.5rem;
}

.keyboard-wrapper {
	display: grid;
	grid-gap: 5px;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.keyboard-key {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom-width: 3px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	user-select: none;
}

.keyboard-key-touching {
	background-color: #bbb;
	border-top-width: 3px;
	border-bottom-width: 1px;
}

.keyboard-key-special {
	padding-left: .9rem;
	padding-right: .3rem;
}
